/* @media query for all page */
*{
    font-family: 'Rubik', sans-serif;
}

/* all menu */
@media (min-width: 260px) and (max-width: 500px)  {
    /* section-navbar  */
    * {
        font-family: 'Rubik', sans-serif;
    }
    .section-navbar {
        background-color: #ffcc00;
        position: fixed;
        width: 100%;
    }
    .btn-menu-link {
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-decoration: none;
    }

    /* btn-reservation-menu */
    .btn-reservation {
        display: none;
    }
    .navigation .container .logo {
        font-weight: bold;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        margin: 20px 0;
        color: black;
    }

    .banner .container {
        padding: 20px 0px;
        color: aliceblue;
        text-align: center;
    }

    /* banner-title */
    .banner .banner-title h1 {
        font-size: 2.5rem;
    }

    .banner .banner-content p {
        margin-bottom: 50px;
    }

    /* details all */
    .details-all {
        padding: 5px 0;
        background: #ffffff;
        height: 55vh;
    }

    .details-all .wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
    }

    .details-all .wrapper .wrapper-details-items h2 {
        font-size: 2rem;
    }

    .details-all .wrapper .wrapper-details-items span {
        display: inline-block;
    }
    .wrapper-details-items-images {
        display: none;
    }

    /* events*/
    .all-events {
        padding: 20px 0;
        background: linear-gradient(125deg, #ffcc00 40%, #ffcc00 185%); 
    }
    .container .wrapper-events {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .all-events .all-events-items h2 {
        font-size: 2.5em;
        color: #000;
        margin-bottom: 20px;
    }
    .all-events .all-events-items span {
        display: inline-block;
        margin-bottom: 50px;
    }
    .all-events-img img {
        width: 100%;
        height: auto;
        display: none;
    }

    .container {
        width: 85%;
        margin: auto;   
    }
    .banner-menu .container h1 {
        padding: 10px 0;
        font-size: 2.5em;
    }
    .all-menus .container {
        display: flex;
        flex-direction: column;
    }

    .all-footer .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 50px;
    }
    .all-footer hr {
        width: auto;
        border: 0;
        border-top: 1px solid #f0e6e6;
    }
}

@media (min-width: 500px) and (max-width: 700px)  {
    *{
        font-family: 'Rubik', sans-serif;
    }
    .container {
        width: 80%;
    }

    .navigation .container .logo {
        font-weight: bold;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        margin: 20px 0;
        color: black;
    }
    .btn-reservation-menu {
        display: flex;
        padding: 0px;
    }

    .navigation .container .btn-reservation-menu .btn-reservation {
        padding: 10px 12px;
        margin-right: 20px 0;
        line-height: 20px;
    }

    .navigation .container .btn-reservation-menu .btn-reservation a {
        line-height: 70px;
    }

    .banner .banner-title h1 {
        font-size: 3rem;
    }
    .banner .banner-content p {
        margin-bottom: 40px;
    }

    .banner .banner-btn {
        margin-bottom: 20px;
    }

    .all-menus .container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) and (max-width: 900px)  {
    *{
        font-family: 'Rubik', sans-serif;
    }
    .container {
        width: 70%;
    }

    .banner .banner-title h1 {
        font-size: 3rem;
    }
    .banner .banner-content p {
        margin-bottom: 40px;
    }

    .all-menus .container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        padding: 10px;
        row-gap: 10px;
    }
}
