* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family:'Montserrat', sans-serif;
    background-color: #ff00002a;
    height: 120vh;
}

.section-navbar {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
}

.navigation {
    height: 70px;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1100px;
    margin: 0px auto;
}

.navigation .container .logo {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    margin: 20px 0;
    color: black;
}

.navigation .container ul {
    display: inline-flex;
    margin: 20px;
    gap: 35px;
    display: none;
}

.navigation .container ul li {
    list-style-type: none;
}

.navigation .container ul li a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.btn-reservation-menu {
    display: flex;
    padding: 5px;
}

.navigation .container .btn-reservation{
    margin: 10px;
    padding: 10px 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    border: 2px solid #ff0000;
}

.btn-menu-link {
    gap: 0px;
    margin: 10px;
    padding: 10px 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.btn-menu-link i {
    font-size: 2em;
    color: #000;
    line-height: 25px;
}

/* banner styling */

.banner {
    display: flex;
    height: 60vh;
    background-image: linear-gradient(0deg, rgba(1, 6, 0, 0.774), rgba(0, 2, 37, 0.911)), url(/assets/img/banner3_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.banner .container {
    padding: 90px 0px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;  
}

.banner .banner-title h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    animation-duration: 3s;
    animation-name: slider;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.banner .banner-content p {
    margin-bottom: 3.5%;
    text-align: center;
    font-weight: bold;
}

.banner .banner-btn a {
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    text-decoration: none;
    color: #fff;
    background: #ff0000;
    border: 2px solid #00000027;
       
}


/* animation banner title */
@keyframes slider {
    from {
        margin-bottom: 100%;
        width: 800%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}
