* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    font-size: 1em;
    font-family:'Montserrat', sans-serif;
    height: 120vh;
}
.container {
    width: 75%;
    margin: 0px auto;
}

.section-navbar {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navigation {
    height: 70px;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
}

.navigation .container .logo {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    margin: 20px 0;
    color: black;
}

.navigation .container ul {
    display: none;
    margin: 25px;
    gap: 35px;
}

.navigation .container ul li {
    list-style-type: none;
}

.navigation .container ul li a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.btn-reservation-menu {
    display: flex;
    padding: 5px;
}

.navigation .container .btn-reservation{
    margin: 10px;
    padding: 10px 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    border: 2px solid #ff0000;
}

.btn-menu-link {
    gap: 0px;
    margin: 10px;
    padding: 10px 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.btn-menu-link i {
    font-size: 2em;
    color: #000;
    line-height: 25px;
}

/* banner styling */

.banner {
    display: flex;
    height: 60vh;
    background-image: linear-gradient(0deg, rgba(1, 6, 0, 0.774), rgba(0, 2, 37, 0.911)), url(/assets/img/banner3_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -1;
}

.banner .container {
    padding: 90px 0px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;  
}

.banner-title h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    animation-duration: 3s;
    animation-name: slider;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
}

.banner .banner-content p {
    margin-bottom: 3.5%;
    text-align: center;
    font-weight: bold;
    z-index: 10px;
}

.banner .banner-btn a {
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    text-decoration: none;
    color: #fff;
    background: #ff0000;
    border: 2px solid #00000027;
    z-index: 1px;
       
}

/* 
@keyframes slider {
    from {
        margin-bottom: 100%;
        width: 200%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}
*/

/* details-all */
.details-all {
    padding: 55px 0;
    background: #ffffff;
    height: 80vh;
}

.details-all .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.details-all .wrapper-details-items h2 {
    padding: 20px 0;
    margin-bottom: 40px;
    font-size: 2.5em;
}
.details-all .wrapper-details-items span {
    display: inline-block;
    margin-bottom: 50px;
}
.details-all .wrapper-details-items .btn-details a {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 15px;
}


/* details-all .wrapper-details-items images */
.wrapper-details-items-images {
    box-shadow: 5px -8px 36px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px;
}

.wrapper-details-items-images a {
    text-decoration: none;
}

.wrapper-details-items-images img {
    width: 100%;
    height: auto;
}

.wrapper-details-items-images p {
    padding: 10px 0;
    color: #000;
}


/* all-specialite */

.all-events {
    padding: 40px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(8, 6, 6) 0%, rgb(255, 0, 0) 84%); 
}
.container .wrapper-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.all-events .all-events-items h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 45px;
}

.all-events .all-events-items span {
    display: inline-block;
    margin-bottom: 85px;
}

.all-events .all-events-items a {
    border: 1px solid #f1f1f1;
    padding: 10px 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f1f1;
    font-weight: bold;
}

.all-events-img img {
    width: 100%;
    height: auto;
}


/* all-menu-grid */
.all-menu-grid {
    background-color: #fff;
    width: 100%;
    height: 56vh;
}

#all-effet-left {
    background-color: rgb(255, 0, 0, 0.125);
    border: 0px solid rgba(255, 0, 0, 0.125);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    display: block;
    float: left;
    height: 357px;
    width: 357px;
    animation: myinset-left 8s infinite ;
}

#all-effet-right {
    background-color: rgb(255, 0, 0, 0.125);
    border: 0px solid rgba(255, 0, 0, 0.125);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    display: block;
    float: right;
    height: 357px;
    width: 357px;
    animation: myinset-right 8s infinite ;
}

.all-menu-grid-container {
    display: inline-block;
}

.container .all-menu-grid-container {
    padding: 25px 0;
}

.container .all-menu-grid-container h2{
    padding:20px 0;
    font-size: 2.5em;
}

@keyframes myinset-left {
    0% {
        top:0px;
        right:800px;
        left:350px;
        opacity: 0.2;

    }
    50% {
        top:0px;
        right:0px;
        left:70px;
        opacity: 3;  
    }
    100% {
        top: 0px;
        right: 0px;
        left: 0px;
        opacity: 0;
    }
}

@keyframes myinset-right {
    0% {
        top:0px;
        right:800px;
        left:350px;
        opacity: 0.2;

    }
    50% {
        top:0px;
        right:0px;
        left:70px;
        opacity: 3;  
    }
    100% {
        top: 0px;
        right: 0px;
        left: 0px;
        opacity: 0;
    }
}

/* all-footer */
.all-footer {
    background: #ff0000;
    color: #000;
    padding: 20px;
    justify-content: center;
    align-content: center;
}

.all-footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
}

.all-footer .footer-container .text-para p {
    padding: 20px 0;
}

.all-footer .footer-container .link-media h1 {
    margin-bottom: 15px;
}

.all-footer .footer-container .link-media a {
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.all-footer .footer-container .link-media a:hover {
    color: #ffffff;
    transform: rotateX('50deg');
}

.all-footer .footer-container .link-media-sociaux i {
    text-decoration: none;
    gap: 305px;
    margin-right: 20px;
    padding: 20px 0;
    color: #000;
}

.all-footer hr {
    width: 500px;
    margin: auto;
    border: 0;
    border-top: 1px solid #f0e6e6;
}

.all-footer .copyright {
    padding: 20px 0;
    color: #000;
    text-align: center;
}



/******** banner-menu *******/
.banner-menu {
    display: flex;
    height: 50vh;
    background-image: linear-gradient(0deg, rgba(5, 8, 14, 0.752), rgba(0, 20, 63, 0.927)), url(/assets/img/plat1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -1;   
    color: #f0e6e6;
    text-align: center;
}

.banner-menu h1 {
    padding: 50px 0px;
    font-size: 4em;
}



/* Section All Menus */
.all-menus {
    background-color: #fcfcfc;
}

.all-menus .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.all-menus-items {
    border: 0px solid #ffffff;
    border-radius: 10px 10px;
    box-shadow: 5px -8px 36px 3px rgba(0, 0, 0, 0.185);
}

.all-menus-items a {
    text-decoration: none;
    color: #000;
}

.all-menus-items h1, p {
    margin: 10px;
}

.all-menus-items hr {
    width: 20%;
    margin-bottom: 10px;
}

.all-menus-items span {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
}

.all-menus-items img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}